<div class="login-container">
  <img class="film" src="assets/images/film.png" />
  <div class="logo">Rotten Potatoes</div>
  <div class="desc">
    Rotten potatoes is the world's most trusted recommendation resources for
    qualtity entertainment. As the leading online aggregator of movie and TV
    reviews from critics, we provide fans with a comprehensive guide to what's
    Fresh - and what's Rotten - in theaters and at home. If you're an
    entertainment fan looking for a recommendation, or to share an opinion
    you've come to the right place.
  </div>
</div>
