.login-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  .film {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 0;
    max-height: calc(100vh - 50px);
  }
  .logo {
    font-size: 3rem;
    font-weight: bold;
    font-family: "Creepster", cursive;
    letter-spacing: 10px;

    z-index: 1;
    text-align: right;
  }
  .desc {
    font-size: 1.5rem;
    font-family: "Aladin", cursive;
    letter-spacing: 5px;
    margin-top: 50px;
    z-index: 1;
    text-align: right;
    max-width: 900px;
  }
  .login-form {
    width: fit-content;
    height: fit-content;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    bottom: 50px;
    right: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 5px 5px 20px #383838;
    .login-field {
      width: 300px;
    }
  }
}
