<form class="auth-form" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
  <span class="title">Login</span>
  <mat-form-field class="auth-field" appearance="outline">
    <mat-label>E-mail</mat-label>
    <input
      matInput
      placeholder="Enter email"
      type="text"
      id="email"
      required
      name="email"
      ngModel
      (click)="testFunc(loginForm)"
    />
    <mat-error
      *ngIf="loginForm.touched && loginForm.controls?.['email']?.errors?.['required']"
      >Email is required</mat-error
    >
  </mat-form-field>

  <mat-form-field class="auth-field" appearance="outline">
    <mat-label>Password</mat-label>
    <input
      matInput
      placeholder="Enter password"
      type="password"
      id="password"
      required
      name="password"
      ngModel
    />
    <mat-error
      *ngIf="loginForm.touched && loginForm.controls?.['password']?.errors?.['required']"
      >Password is required</mat-error
    >
  </mat-form-field>

  <button mat-raised-button class="btn btn-dark">Login</button>
</form>
