/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Aladin&family=Roboto&family=Creepster&display=swap");
@import "@angular/material/prebuilt-themes/indigo-pink.css";
* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn {
  width: fit-content;
}
.btn-dark {
  background-color: black !important;
  color: white !important;
}
.auth-form {
  width: fit-content;
  height: fit-content;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  z-index: 100;
  bottom: 50px;
  right: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 5px 5px 20px #383838;
  .auth-field {
    width: 300px;
  }
  .title {
    margin-bottom: 1rem;
    font-size: x-large;
    font-weight: 600;
  }
}
